{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "ramda",
        "material-ui",
        [
          "transform-define",
          "./metadata.js"
        ]
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "ramda",
        "material-ui",
        [
          "transform-define",
          "./metadata.js"
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ]
  ]
}